#root {
  --green-background-color: #10170f;
  background-color: var(--green-background-color);
  --green-color: #18dc0c;
}

@font-face {
  font-family: Mono;
  src: url("./fonts/monofonto.ttf");
}
@font-face {
  font-family: Share;
  src: url("./fonts/ShareTechMono-Regular.ttf");
}

.overlay-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.pipboy {
  z-index: 1;
  overflow: hidden;
}

.screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 19%;
  left: 28%;
  width: 29%;
  overflow-x: clip;
}

nav {
  color: var(--green-color);
}

ul {
  display: flex;

  gap: 2em;
  text-transform: uppercase;
}

li {
  font-family: Mono;
}

.left-line {
  position: absolute;
  top: -45.5%;
  left: -83.5%;
}
.right-line {
  position: absolute;
  top: -45.5%;
  left: 26.5%;
}
